.directory
.settings
.project
.cproject
.vscode
.tup
sysroot
iso
*.old
org.kde.konsole.desktop
Tuprules.inc
bin/rpi2b/boot/grub/cfg-file*

p1
targets

obj/**/*.o
maps/**/*.map

bin/**/*.cfg
bin/**/*.elf
bin/**/*.img
bin/**/*.h
bin/**/cfg-file

lib/**/*.a
*.log
